<html>
    <head>
        <script src="https://kit.fontawesome.com/a5bd0f0cfc.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <div class="box">
        <h1 class="h1" >ğ“£ğ“ ğ““ğ“ ğ“›ğ“˜ğ“¢ğ“£</h1>
        <form action="add-task" method="post">    <!--add-contact route -->
            <input class="input_text" type="text" name="description" placeholder=" á´‡É´á´›á´‡Ê€ á´…á´‡êœ±á´„Ê€Éªá´˜á´›Éªá´É´" required>
            <br>
            <hr>
            <label for="category" class="category">ğ–ˆğ–ğ–”ğ–”ğ–˜ğ–Š:</label>

            <select class="categ" name="category" >
            <option value="personal">ğ•¨ğ• ğ•£ğ•œ</option>
            <option value="work">ğ•¡ğ•–ğ•£ğ•¤ğ• ğ•Ÿğ•’ğ•</option>
            <option value="school">ğ•¤ğ•”ğ•™ğ• ğ• ğ•</option>
            <option value="cleaning">ğ•”ğ•ğ•–ğ•’ğ•Ÿğ•šğ•Ÿğ•˜</option>
            <option value="other">ğ• ğ•¥ğ•™ğ•–ğ•£</option>
            </select>
            <br>
            <hr>
            <input class="date" type="date"  name="date" placeholder="enter due date" required>
            <input  class="time" type="time" name="time" placeholder="enter time" required>

            <br>
            <button class="addtask">Î±âˆ‚âˆ‚Ñ‚Î±Ñ•Ğº</button>

            
        </form>
        <ul class="list">
        <% if (todo){%>
            <% todo.forEach(i=>{%>
            <li>
               <div class="box2">
                <input class="checkbox" type="checkbox">
               <span style="margin-right: 20px;font-size: 20px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">description:</span><span class="description"><%=i.description%></span>
               <br>
               <span style="margin-right: 20px;font-size: 20px;margin-left: 25px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">category:</span><span class="category"><%= i.category %></span><br>
               <span style="margin-left: 21px;font-size: 20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">deadline:</span><span class="date"><%= i.date %></span><%=i.time %>
               <a href="/delete-task/ <%= i._id%>"><button style="background: transparent;padding-left: 5px;"><i class="icon fa-solid fa-trash"></i></button></a>
               </div>
            </li>
            <%})%> 
        <% } %>
    </ul>
</div>
    </body>
</html>